<h1> HUGE INDEX PAGE </h1>

<table>
<thread>
<tr>
<th> ID </th>
<th> Title </th>
<th> Create Date </th>
</tr>
</thread>

<tbody>
<% @post.each do |eachpost| %>
<tr>
<td> <%= eachpost.id %> </td>
<td> <a href="/posts/<%= eachpost.id%>"> <%= eachpost.title %> </a> </td>
<td> <%= eachpost.created_at %> </td>
</tr>
<% end %>
</tbody>
</table>