<h1>NEW Post page!</h1>
<h3>This where I will create new posts</h3>

<%= form_for(@post, :html => { :multipart => true } ) do |f| %> 
  <%= f.label :title %>
  <%= f.text_field :title, :required => true %>
<% end %>