<!DOCTYPE html>
<html>
<head>
<title>Chris' Blog</title>
<link rel="stylesheet" type="text/css" href="blogstyle.css">
</head>
<body>
<nav>
<h1 id="nav_title"> Christopher's Blog </h1>
<span id="login"> Sign In/Sign Up </span>
<span id="write"> <a class="links" href="/posts/new/"> Write a Post </a> </span>
</nav>
<div id="wrapper">
<div id="featured">
<h1 id="featured_article_title"> <%= @post.title%> </h1>
</div>
<div id="authorsection">
<span id="author"> By: Christopher Chan </span>
</div>
<p id="featured_article_text"> <%= @post.body %></p>
</div>
</body>
</html>